processed_images/
app.log
app.sock
wsgi.py
.venv/
Datasets/
pdfConverter/
DOCPDF/
XLSPDF/
PPTPDF/
__pycache__/
/blueprints/__pycache__
/database/__init__.py
/db Configuration
/helpers/__pycache__
Datasets/